* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  /* background: linear-gradient(to right, #7f8aaa, #c7b1c2); */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Source Code Pro", monospace;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  -webkit-scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
}

/*   HAMBURGERNAV   */
.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  height: 60px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar > .navbar-button {
  display: none;
}

.navbar > .navbar-links {
  display: inline;
}

.navbar > .navbar-links a {
  display: inline-block;
  margin: 0 1rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 1000;
  color: #f4f4f4;
}

.navbar > .navbar-links > a:hover {
  color: #ecdaf8;
  font-size: 18px;
}

.navbar > #nav-check {
  display: none;
}

/* END OF HAMBURGERNAV*/

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
}
section h1 {
  font-size: 4rem;
  /* font-family: "Michroma", sans-serif; */
}
section p {
  font-size: 1.5rem;
  font-family: "Source Code Pro", monospace;
  /* margin: 3.5rem; */
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.img-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image {
  width: 100%;
}

.dark {
  /* background: rgba(77, 65, 182, 0.2); */
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.light-skills {
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.social-media-icons {
  /* border: 2px solid #fff; */
  position: fixed;
  left: 0;
  z-index: 1;
}

.social-media-icons i {
  padding: 20px;
  font-size: 30px;
  color: rgb(218, 207, 245);
  background: rgb(135, 134, 136);
  display: flex;
  flex-direction: column;
}
.social-media-icons i:hover {
  color: rgb(99, 13, 94);
}

.social-media-icons a {
  text-decoration: none;
}

/* HOME */
#home div a {
  color: #80469b;
}
#home div a:hover {
  color: #ecdaf8;
}
/* SKILLS */
.skills-and-education {
  width: 85%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  color: rgb(147, 7, 160);
}

.skills-language-div {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .skills-language-div div {
} */

.skills-and-education h2 {
  color: #fff;
}

.skills-div {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
}
.skills-div div {
  display: flex;
  height: 60px;
  background: rgb(218, 207, 245);
  margin: 3px;
  align-items: center;
  padding-left: 10px;
}

.html-div {
  width: 100%;
}
.css-div {
  width: 80%;
}
.javascript-div {
  width: 70%;
}
.react-div {
  width: 70%;
}
.redux-div {
  width: 40%;
}
.nodejs-div {
  width: 30%;
}
.mongodb-div {
  width: 28%;
}

.languages-div {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
}
.languages-div div {
  display: flex;
  height: 40px;
  background: rgb(218, 207, 245);
  margin: 3px;
  align-items: center;
  padding-left: 10px;
}

.finnish {
  width: 100%;
}
.english {
  width: 90%;
}
.german {
  width: 60%;
}
.swedish {
  width: 60%;
}

table,
td {
  border: 2px solid white;
}
td {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  color: #fff;
}
table {
  border-collapse: collapse;
}

/* PROJECTS */
.projects-div {
  display: flex;
  /* flex-wrap: wrap; */
  overflow-x: auto;
  width: 80%;
  /* justify-content: center; */
}

.projects-div div {
  background: rgb(218, 207, 245);
  width: 400px;
  height: 400px;
  color: rgb(85, 21, 122);
  flex-shrink: 0;
}

.projects-div a {
  margin: 1%;
}

/* CONTACT */
#contact a {
  font-size: 25px;
  color: #fff;
}
#contact a:hover {
  font-size: 28px;
}
.form-labels {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 60%;
}
.form-labels label {
  font-size: 12pt;
}

input {
  border: 3px solid #fff;
  outline: none;
  padding: 10px;
}
input:focus {
  border: 3px solid rgb(218, 207, 245);
}
input:hover {
  border: 3px solid rgb(218, 207, 245);
}

#message {
  border: 3px solid #fff;
  font-size: 12pt;
  outline: none;
}
#message:hover {
  border: 3px solid rgb(218, 207, 245);
}
#message:focus {
  border: 3px solid rgb(218, 207, 245);
}

#submit {
  background-color: #806f97;
  border: 1px solid #806f97;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 12pt;
  margin: auto;
  width: 90px;
}
#submit:hover {
  background-color: #c6b0f8;
  border: 1px solid#c6b0f8;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #630d5e;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
}
footer p {
  font-size: 12px;
}
@media only screen and (max-width: 1245px) {
  .skills-div {
    height: 250px;
    width: 250px;
  }
  .skills-div div {
    font-size: 14px;
  }

  .languages-div {
    height: 250px;
    width: 250px;
  }

  table,
  td {
    border: 2px solid white;
    font-size: 12px;
  }
}

@media (max-width: 1087px) {
  .projects-div div {
    background: #dacff5;
    width: 200px;
    height: 200px;
    color: #55157a;
    width: 350px;
    height: 350px;
  }
}
@media only screen and (max-width: 1065px) {
  section h1 {
    font-size: 3.5rem;
  }
  section p {
    font-size: 1.3rem;
  }
  footer p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 980px) {
  .skills-language-div {
    margin-left: 2rem;
  }
  #skills h1 {
    margin-top: 2rem;
  }
  #projects h1 {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 945px) {
  section h1 {
    font-size: 2.5rem;
  }

  section p {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1.9rem;
    margin-bottom: 1.9rem;
  }
  footer p {
    margin: 0;
  }

  .img-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  .projects-div div {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 710px) {
  .social-media-icons {
    /* border: 2px solid #fff; */
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    margin: 0 auto;
  }

  .social-media-icons i {
    padding: 13px;
    font-size: 30px;
    color: #fff;
    background: transparent;
  }
  .social-media-icons i:hover {
    color: #dacff5;
  }

  .social-media-icons a {
    text-decoration: none;
  }

  /*  HAMBURGER NAV   */
  .navbar > .navbar-button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar > .navbar-button > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .navbar > .navbar-button > label > span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #fff;
    margin: 5px;
    transition: 0.4s;
  }

  .navbar > .navbar-links {
    position: absolute;
    display: block;
    width: 100%;
    background: #7f8aaa;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .navbar > .navbar-links > a {
    color: #fff;
    display: block;
    width: 100%;
  }
  .navbar > .navbar-links > a:hover {
    color: #dacff5;
  }
  .navbar > #nav-check:not(:checked) + .navbar-links {
    height: 0;
  }

  .navbar > #nav-check:checked + .navbar-links {
    text-align: center;
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .change .span1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  .change .span2 {
    opacity: 0;
  }
  .change .span3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /* END OF HAMBURGER MEDIA QUERY */
}
@media (max-width: 680px) {
  .skills-language-div {
    width: 210%;
    flex-wrap: nowrap;
  }

  .skills-language-div div {
    margin-right: 1rem;
  }

  .skills-and-education {
    overflow-x: auto;
  }
}

@media (max-width: 415px) {
  body {
    scroll-snap-type: none;
    -webkit-scroll-snap-type: none;
    scroll-snap-points-y: none;
    -webkit-scroll-snap-points-y: none;
    scroll-snap-type-y: none;
    -webkit-scroll-snap-type-y: none;
  }

  section h1 {
    font-size: 35px;
    font-family: "Source Code Pro", monospace;
  }
  section p {
    margin: 0 30px;
  }
  .img-container {
    margin-top: 2rem;
  }
  .form-labels {
    margin-top: 0.5rem;
    width: 90%;
  }
  #contact a {
    font-size: 20px;
  }
  #contact a:hover {
    font-size: 20px;
    color: #c6b0f8;
  }
  #contact,
  #contact a {
    color: #806f97;
  }
  #submit {
    background-color: #806f97;
    border: 1px solid #806f97;
  }
  #submit:hover {
    background-color: #c6b0f8;
    border: 1px solid#c6b0f8;
  }
  footer {
    background: #806f97;
  }
  footer p {
    font-size: 12px;
    color: #fff;
  }
  input {
    padding: 8px;
  }
}
@media (max-width: 360px) {
  .img-container {
    margin-top: 10px;
  }
  .navbar {
    height: 50px;
  }
}
